.ToggleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ToggleContainer-label {
  margin: 10px 0;
}

.ToggleContainer-label > span + i {
  margin-left: 5px;

}