.Search > * {
	margin-bottom: 25px;
}

.Search-control {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Search-help > div:not(:last-child) {
	margin-bottom: 10px;
}