.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 15px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-body {
  display: flex;
  width: 100%;
}

.App-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px 0 50px;
}

@media only screen and (max-width: 768px) {
  .App-col {
    padding: 25px 0 0 0;
  }

  .App-col + .App-col {
    padding: 0;
  }
}
