body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Avenir Next, futura, Helvetica, sans-serif;
  background: #fbfbfb;
}

a, label {
  font-weight: 600;
}

a {
  transition-duration: .25s;
}

a:hover {
  opacity: .5;
}

.fa {
  height: 1rem;
  width: 1rem;
  font-size: 12px;
  display: flex;
  align-items: center;
}

h2, h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

h2 {
  font-size: 24px;
  letter-spacing: 4px;
}

h3 {
  font-size: 20px;
  letter-spacing: 2px;
}

[class*="flex-"] {
  flex-basis: 0;
}

.flex-1 {
  flex-grow: 1;
}

.flex-2 {
  flex-grow: 2;
}

.flex-3 {
  flex-grow: 3;
}

.full-width {
  width: 100% !important;
}

.half-width {
  width: 50% !important;
}

.no-width {
  width: 0% !important;
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  [class*="flex-"] {
    flex-grow: 1;
    flex-basis: initial;
  }

  .mobile-row {
    flex-direction: row;
  }

  .mobile-col {
    flex-direction: column;
  }
}
